.container {
    background : #2F434E ; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
}
  .circ {
    position : absolute ; 
    background : #CF6939 ;
    height : 80px;  
    width : 80px ; 
    border-radius : 50% ; 
    top : 110px;
    left : 160px ; 
  }
  .top {
    position : absolute ; 
    background : #F8B140 ; 
    height : 60px ;
    width : 60px ;
    top : 35px ; 
    left : 170px ;
    border-top-left-radius : 25px;
    border-top-right-radius : 25px;
  }
  .bottom {
    position : absolute ; 
    background : #F8B140 ; 
    height : 60px ;
    width : 60px ;
    bottom : 35px ; 
    left : 170px ;
    border-bottom-left-radius : 25px;
    border-bottom-right-radius : 25px;
  }
  .left {
    position : absolute ; 
    background : #F8B140 ;  
    height : 60px ; 
    width : 60px ;
    left : 85px ; 
    top : 120px ; 
    border-top-left-radius : 25px ; 
    border-bottom-left-radius : 25px ; 
  }
    .right {
    position : absolute ; 
    background : #F8B140 ;  
    height : 60px ; 
    width : 60px ;
    right : 85px ; 
    top : 120px ; 
    border-top-right-radius : 25px ; 
    border-bottom-right-radius : 25px ; 
  }