.container {
    background : #2D3464 ; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
    overflow: hidden;
}
  .circ1 {
    position : absolute ; 
    left : 120px ; 
    width : 160px ; 
    height: 160px;
    top : 70px ; 
    background: #646DAB;
    border-radius : 50% ; 
  }
  .circ2 {
    position : absolute ; 
    left : 140px ; 
    width : 120px ; 
    height: 120px;
    top : 90px ; 
    background: #D9D9D9;
    border-radius : 50% ; 
  }
  .circ3 {
    position : absolute ; 
    left : 160px ; 
    width : 80px ; 
    height: 80px;
    top : 110px ; 
    background: #2D3464;
    border-radius : 50% ; 
  }
  .half{
    position : absolute ; 
    background : #2D3464 ; 
    left : 200px ; 
    top : 0px ; 
    height : 100% ; 
    width: 200px ;
  }