.container {
    background : #BFE33A ;
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
    overflow: hidden;
}
.hor {
    position : absolute ; 
    background : #BFE33A ; 
    height : 30px ; 
    width : 400px ; 
    left : 0px ; 
    top : 135px ; 
}
.ver1 {
position : absolute ; 
background : #BFE33A ; 
height : 300px ; 
top : 0px ; 
width : 30px ; 
left : 85px ; 
}
.ver2 {
position : absolute ; 
background : #BFE33A ; 
height : 300px ; 
top : 0px ; 
width : 30px ; 
left : 285px ; 
}
.inner1 {
position : absolute ; 
background : #BFE33A; 
height : 160px ; 
width : 160px ; 
border-radius : 50% ; 
left : 20px ; 
top : 70px ; 
}
.inner2 {
position : absolute ; 
background : #BFE33A; 
height : 160px ; 
width : 160px ; 
border-radius : 50% ; 
left : 220px ; 
top : 70px ; 
}
.circ1 {
position : absolute ; 
background : #5A9F48 ; 
width : 240px ; 
height : 240px ; 
border-radius : 50% ; 
left : -20px ; 
top : 30px ; 
}
.circ2 {
position : absolute ; 
background : #5A9F48 ; 
width : 240px ; 
height : 240px ; 
border-radius : 50% ; 
left : 180px ; 
top : 30px ; 
}