.container {
    background : #436F9B ; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
    overflow: hidden;
}
  .ver {
    position : absolute ; 
    background : #E38F66 ;  
    width : 30px; 
    left : 185px; 
    height : 80px; 
    top : 110px ; 
  }
  .hor1 {
    position : absolute ; 
    background : #E38F66 ; 
    width : 100px ; 
    left : 185px ; 
    height : 30px ; 
    top : 60px ; 
  }
  .hor2 {
    position : absolute ; 
    background : #E38F66 ; 
    width : 100px ; 
    left : 115px ; 
    height : 30px ; 
    top : 210px ; 
  }
  .square1 {
    position : absolute ; 
    background : #E38F66 ; 
    left : 115px  ;
    width : 30px ; 
    height : 30px ; 
    top : 160px ; 
  }
  .square2 {
    position : absolute ; 
    background : #E38F66 ; 
    left : 255px  ;
    width : 30px ; 
    height : 30px ; 
    top : 110px ; 
  }