.container {
    background-color :#FFEFF7 ;  
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
}
.square {
    position : absolute ; 
    background : #226AA9 ; 
    width : 145px;  
    height:160px ; 
    left :0px; 
    top : 70px; 
  }

  .triangle {
    position : absolute ;
    width: 110px;
    height: 160px;
    background: #DEB467;
    left : 145px ;
    top : 70px; 
    clip-path: polygon(0% 100%, 0% 0%, 100% 50%) ; 
  }

  .ancre {
    position : absolute ; 
    width : 110px ; 
    height : 100px ; 
    background-color : #000000 ;
    top : 100px ;
    left : 205px ; 
    clip-path : polygon( 100% 50% , 0% 100% , 0% 0% ) ; 
    border-radius : 50% ; 
  }
  .side1 {
    position : absolute ; 
    background : #FFEFF7 ; 
    width : 110px ; 
    height : 160px ; 
    left : 145px ;
    top : 70px; 
    clip-path : polygon( 0% 0% , 100% 50% , 100% 0% ) ; 
  }

  .side2 {
    position : absolute ; 
    background : #FFEFF7 ; 
    width : 110px ; 
    height : 160px ; 
    left : 145px ;
    top : 70px; 
    clip-path : polygon( 0% 100% , 100% 50% , 100% 100% ) ; 
  }
  .sideLeft {
    position : absolute ; 
    background : #FFEFF7 ; 
    left : 255px ; 
    top : 0px ; 
    height : 300px ; 
    width : 145px ; 
  }