.container {
    background-color : #C8AD17 ; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
}
  .rec1 {
    position : absolute; 
    background: #EEEEEE;
    height : 68px ; 
    width : 180px;
    border : 21px solid #222222 ; 
    border-top-left-radius : 32px ;
    border-top-right-radius : 32px ;
    left : 90px ;
    top : 94px;  
  }
  .rec2 {
    position : absolute ; 
    background : #EEEEEE ; 
    border : 20px solid #222222 ; 
    height : 19px ; 
    width : 80px ;
    left : 140px ;
    top : 55px;
  }
  .rec3 {
    position : absolute ; 
    background : #EEEEEE  ; 
    border : 20px solid #222222  ; 
    height : 40px ; 
    width :83px ; 
    left : 140px ; 
    bottom : 55px; 
  }