.container {
    background : #F9FAFD ; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
    overflow: hidden;
}

 .circ1 {
   position : absolute ; 
   background : #A7C2FA ;
   height : 160px ; 
   width : 160px ; 
   border-radius : 50% ;  
   top : 70px ;
   left : 120px; 
   overflow : hidden ; 
 }
  .circ2 {
    position : absolute ; 
    background : #4F73D9 ; 
    height : 60px ; 
    width : 60px ; 
    top : 90px ; 
    left : 170px ; 
    border-radius : 50%  ; 
  }
  .body {
    position : absolute ; 
    background : #4F73D9 ;
    left : 20px ; 
    top : 92px ; 
    height : 100px ; 
    width : 120px ;
    border-radius : 50% ; 
  }