.container {
    background-color : #EBE77E ; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
}
body {
    background : #FADE8B ; 
  }
  .ver {
    position : absolute ; 
    left : 215px ; 
    top : 40px ; 
    width: 40px;
    height: 220px;
    background: #D24444;
  }
  .hor1 {
    position : absolute ; 
    left : 145px ; 
    top : 40px ; 
    width: 80px;
    height: 40px;
    background: #D24444;
  }
   .hor2 {
    position : absolute ; 
    left : 145px ; 
    top : 130px ; 
    width: 80px;
    height: 40px;
    background: #D24444;
  }
  .hor3 {
    position : absolute ; 
    left : 145px ; 
    top : 220px ; 
    width: 80px;
    height: 40px;
    background: #D24444;
  }