.container {
    background : #5A9F48 ; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
    overflow: hidden;
}
  .circ1 {
    position : absolute ; 
    left : 100px; 
    width: 130px;
    height: 130px;
    top : 85px ; 
    border-radius : 50% ; 
    background: #000000;
  }
   .circ2 {
    position : absolute ; 
    right : 100px; 
    width: 130px;
    height: 130px;
    top : 85px ; 
    border-radius : 50% ; 
    background: #000000;
  }
  .circ3 {
    position : absolute ; 
    left : 130px; 
    width: 140px;
    height: 140px;
    top : 25px ; 
    border-radius : 50% ; 
    background: #000000;
  }
  .circ4 {
    position : absolute ; 
    left : 130px; 
    width: 140px;
    height: 140px;
    bottom : 25px ; 
    border-radius : 50% ; 
    background: #000000;
  }
  .circ11 {
    position : absolute ;   
    background : #5A9F48  ; 
    left : 130px ; 
    top : 115px ; 
    height : 70px ; 
    width : 70px ; 
    border-radius : 50% ; 
  }
  .circ22 {
    position : absolute ;   
    background : #5A9F48  ; 
    right : 130px ; 
    top : 115px ; 
    height : 70px ; 
    width : 70px ; 
    border-radius : 50% ; 
  }
  .circ33 {
    position : absolute ;   
    background : #5A9F48  ; 
    left : 160px ; 
    top : 165px ; 
    height : 80px ; 
    width : 80px ; 
    border-radius : 50% ; 
  }
  .circ44 {
    position : absolute ;   
    background : #5A9F48  ; 
    left : 160px ; 
    bottom : 165px ; 
    height : 80px ; 
    width : 80px ; 
    border-radius : 50% ; 
  }
  .bar {
    position : absolute ; 
    background : #5A9F48 ; 
    left : 175px ; 
    top : 100px ; 
    height : 100px ; 
    width : 50px ;
  }