.container {
    background : #2B2A4A  ;
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
    overflow: hidden;
}
  .rec1 {
    position : absolute ; 
    left : 120px ; 
    background : #DE9473 ; 
    width : 160px ; 
    top : 40px ; 
    height : 40px  ; 
  }
  .rec2 {
    position : absolute ; 
    left : 120px ; 
    background : #DE9473 ; 
    width : 160px ; 
    top : 220px ; 
    height : 40px  ; 
  }

  .circ1 {
    position : absolute ; 
    background : #DE9473 ; 
    height :160px ; 
    width : 160px ; 
    top : 30px;
    left : 120px; 
    border-radius : 50% ; 
    background : linear-gradient( 0deg , #DE9473 50% , #2B2A4A 50% ) ; 
  }
    .circ2 {
    position : absolute ; 
    background : #DE9473 ; 
    height :160px ; 
    width : 160px ; 
    top : 110px;
    left : 120px; 
    border-radius : 50% ; 
    background : linear-gradient( 0deg , #2B2A4A 50% , #DE9473 50% ) ; 
  }