.container {
    background : #7E6293 ;  
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
    overflow: hidden;
}
  .bar {
    position : absolute ; 
    background : #FFFFFF ; 
    width: 85px;
    height : 200px;
    left : 158px ;
    top : 50px ; 
    clip-path : polygon( 62% 0% , 100% 0% , 38% 100% , 0% 100% ) ;
  }
  .pill1 {
    position : absolute ; 
    background : #7E6293  ; 
    width : 30px ; 
    height : 60px ; 
    border-radius : 20px ;
    top : 80px ; 
    left : 105px ; 
  }
    .pill2 {
    position : absolute ; 
    background : #7E6293  ; 
    width : 30px ; 
    height : 60px ; 
    border-radius : 20px ;
    bottom : 80px ; 
    right : 105px ; 
  }
  .pill11 {
      position : absolute ; 
      background : #FFFFFF  ; 
      width : 90px ; 
      height : 120px ; 
      border-radius : 50px ;
      bottom : 50px ; 
      right : 75px ; 
  }
    .pill22 {
      position : absolute ; 
      background : #FFFFFF  ; 
      width : 90px ; 
      height : 120px ; 
      border-radius : 50px ;
      top : 50px ; 
      left : 75px ; 
  }