.container {
    background-color : #FBFDB7; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ;
}
  .red1 {
      background-color : #D95362 ;
      position : absolute ; 
      width : 60px ; 
      top : 180px ;
      left : 60px ; 
      height : 120px ; 
  }
  
  .green1{
      background-color : #46BA67 ; 
      position : absolute ; 
      width : 60px ; 
      top : 180px ;
      left : 280px ; 
      height : 120px ; 
  }

  .green2 {
    background-color : #46BA67 ;
    position : absolute ; 
    width : 60px ; 
    top : 0px ;
    left : 60px ; 
    height : 120px ; 
  }

  .red2 {
      background-color : #D95362 ; 
      position : absolute ; 
      width : 60px ; 
      top : 0px ;
      left : 280px ; 
      height : 120px ; 
  }

  .horizontal {
    background-color : #46BA67 ; 
    position : absolute ;
    width : 280px ; 
    height : 60px ; 
    left : 60px ; 
    top : 120px ; 
  }
  