.container {
    background : #4F77FF ; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
    overflow: hidden;
}
  .hor {
    position : absolute ; 
    background : #FFFFFF ; 

    left : 73px ; 
    width : 255px ; 
    height : 32px ; 
    top : 214px ; 
  }
  .circ1 {
    position : absolute ; 
    background : #FFFFFF ; 
    height : 190px ; 
    width  : 190px ; 
    left : 105px;  
    top : 54px ; 
    border-radius : 50% ; 
  }
  .circ2 {
    position : absolute ; 
    background : #4F77FF ; 
    left : 135px;  
    width : 129px; 
    height : 129px ; 
    top : 86px ; 
    border-radius : 50% ; 
  }