.container {
    background : #2D3464 ; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
    overflow: hidden;
}
  .tri1 {
    position : absolute ; 
    height : 300px ; 
    width : 400px ; 
    top : 0px; 
    left : 0px ; 
    clip-path : polygon( 0% 0% , 100% 0% , 50% 100% );
    background: #C0D6E7 ;
  }
  .tri2 {
    position : absolute ; 
    height : 300px ; 
    width : 400px ; 
    top : 0px; 
    left : 0px ; 
    clip-path : polygon( 0% 100% , 50% 0% , 100% 100% );
    background: #5AA4B7 ;
  }