.container {
    background-color : #96551A ; 
    width : 400px ; 
    height : 300px ; 
    position: absolute ;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border : black 2px solid; 
    box-shadow: 2px 2px 2px 3px black ; 
}

.up {
    position : absolute ; 
    background: #EA9A52;
    width : 140px ;
    height : 140px  ; 
    top : 0px ; 
    left : 128px ; 
}
.down {
    position : absolute ; 
    background: #EA9A52;
    width : 140px ;
    height : 140px  ; 
    top : 160px ; 
    left : 128px ; 
}

.middle {
    position : absolute ; 
    background : #96551A ; 
    width : 70px ; 
    height : 70px ; 
    top : 115px ; 
    left : 165px ; 
}